/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: 
    local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/ptsans.woff") format("woff"); /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: 
    local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/ptsansbold.woff") format("woff"); /* Modern Browsers */
  font-style: normal;
  font-weight: 700;
}

/* Normalization + global styles */
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Service classes */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* for text in buttons (IE 11)*/
.remove-nudge {
  position: relative;
  top: 0px;
  left: 0px;
}

p.overflow-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
}

/* remove increment arrows */
/* -- chrome */
.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --firefox */
.remove-arrows {
  -moz-appearance: textfield;
}

.remove-arrows:hover,
.remove-arrows:focus {
  -moz-appearance: number-input;
}

/* make placeholder black */
.placeholder-black::-webkit-input-placeholder {
  color: #000000;
}

.placeholder-black::-moz-placeholder {
  color: #000000;
}

/* make placeholder white */
.placeholder-white::-webkit-input-placeholder {
  color: #ffffff;
}

.placeholder-white::-moz-placeholder {
  color: #ffffff;
}

/* Visually-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
button[type="button"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
}

/* Large sections centering */
.header,
.main-container,
.bottom {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

/* Shadow */
.header::before,
.main-container::before,
.bottom::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;  /* lowest layer, hides top shadow under other blocks */

  content: "";

  box-shadow: 0px 0px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Header */
.top-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-top: 76px;

  background-color: #f2f2f2;
  background-image: url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.top-header img {
  display: block;

  margin-bottom: 79px;
}

.top-header__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding-top: 61px;
  padding-bottom: 52px;

  width: 100%;

  background-color: #ffffff;
}

.top-header__text::before {
  position: absolute;
  top: -57px;
  left: 0;  /* for IE 11 */

  width: 100%;
  height: 57px;  /* for IE 11 */

  content: url("../img/polygon-mask.svg");
  background-image: url("../img/polygon-mask.svg");  /* for IE 11 */
}

.top-header__text h1 {
  max-width: 450px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}

.top-header__text p {
  max-width: 800px;
  margin: 0;

  text-align: center;
  vertical-align: middle;
  color: #333333;
}

/* Navigation */
.header__navigation {
  position: relative;
}

.header__navigation>a {
  position: absolute;
  left: 50%;
  z-index: 1;

  margin-left: -70px;
}

.header__navigation ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 1200px;

  background-color: #ffffff;
}

.header__navigation li {
  padding-left: 72px;
  padding-top: 14px;
  padding-bottom: 15px;

  width: 240px;
  min-height: 56px;

  color: #000000;
  font-weight: bold;
}

.header__navigation li:nth-child(4n+3) {
  margin-left: 240px;
  padding-left: 79px;
}

.header__navigation li:nth-child(4n+4) {
  padding-left: 89px;
  padding-right: 10px;
}

.header__navigation a,
.header__navigation a:link,
.header__navigation a:visited {
  color: #000000;
}

.header__navigation a:hover,
.header__navigation a:focus {
  color: #81b3d2;
}

.header__navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.header__navigation .current {
  color: #766357;
}

/* Advantages - general properties */
.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages img {
  display: block;
}

.advantages p,
h3 {
  padding: 0;
  margin: 0;
}

.advantages__first-line,
.advantages__second-line,
.advantages__second-item {
  display: flex;
}

.advantages__second-line li:nth-child(1) {
  background-image: url(../img/icon-house.svg);
  background-position: 50% 23%;
  background-repeat: no-repeat;
}

.advantages__second-line li:nth-child(2) {
  background-image: url(../img/icon-burger.svg);
  background-position: 50% 23%;
  background-repeat: no-repeat;
}

.advantages__second-line li:nth-child(3) {
  background-image: url(../img/icon-gift.svg);
  background-position: 50% 23%;
  background-repeat: no-repeat;
}

/* Advantages - Box */
.advantages__box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  min-height: 256px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;

  line-height: 21px;
  text-align: center;
  vertical-align: middle;
}

/* Advantages - blue box */
.advantages__box--blue {
  padding-top: 47px;

  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__box--blue h3 {
  margin-bottom: 25px;
  width: 150px;

  font-weight: bold;
  font-size: 21px;
}

.advantages__box--blue span {
  margin-bottom: 20px;
  width: 300px;
}

.advantages__box--blue p {
  width: 300px;
}

/* Advantages - white box */
.advantages__box--white {
  padding-top: 161px;

  min-height: 330px;

  background-color: #ffffff;
}

.advantages__box--white span {
  display: block;
  margin-bottom: 24px;

  width: 100%;

  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.advantages__box--white p {
  width: 300px;

  color: #333333;
}

/* Advantages - grey box */
.advantages__box--grey {
  min-height: 256px;

  padding-top: 46px;

  color: #333333;
  background-color: #eeeeee;
}

.advantages__box--grey h3 {
  margin-bottom: 26px;
  width: 130px;

  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.advantages__box--grey span {
  margin-bottom: 20px;
  width: 260px;
}

.advantages__box--grey p {
  width: 260px;
}

.advantages__box--grey:nth-child(5) p {
  width: 250px;
}

.advantages__second-item p {
  width: 310px;

  text-align: center;
}

/* Find a hotel section */
.search__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 50px;

  min-height: 291px;

  text-align: center;
  background-color: #ffffff;
}

.search__container p:first-of-type {
  margin-bottom: 24px;

  max-width: 800px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search__container p:last-of-type {
  margin-bottom: 47px;

  max-width: 900px;

  line-height: 24px;

  color: #333333;
}

.search__form-wrapper>button {
  position: relative;
  z-index: 3;

  width: 568px;
  min-height: 86px;

  padding: 20px 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

  background-color: #766357;
}

.search__form-wrapper>button:hover {
  background-color: #604e43;
}

.search__form-wrapper>button:active {
  background-color: #503e33;
  color: rgba(256, 256, 256, 0.3);
}

.search__form-wrapper {
  position: relative;

  margin: 0 auto;

  width: 568px;
}

/* FORM */
.search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.search__form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 55px 0;

  width: 100%;
  min-height: 395px;

  font-weight: bold;
  text-align: left;

  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

/* Check in && Check out */
.search__form div {
  display: flex;
}

.search__form div:nth-of-type(3) {
  justify-content: space-between;
}

.search__checkinout {
  display: flex;
  align-items: center;
  width: 458px;
}

.search__checkinout:nth-of-type(1) {
  margin-bottom: 29px;
}

.search__checkinout:nth-of-type(2) {
  margin-bottom: 29px;
}

.search__form div:nth-of-type(3) {
  margin-bottom: 54px;
}

.search__checkinout label {
  display: block;
  width: 112px;
}

.search__checkinout input[type="text"] {
  padding-left: 12px;
  margin: 0;

  width: 306px;
  height: 38px;

  font-weight: bold;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;

  border: 0;
}

/* Calendar button */
.search__checkinout button {
  width: 40px;
  height: 38px;

  background-color: #f2f2f2;
}

/* Calendar icon */
.search__checkinout button {
  fill: #cacaca;
}

.search__checkinout button:hover {
  fill: #000000;
}

.search__checkinout button:active {
  fill: #81b3d2;
}

/* Check in && check out - ADDITIONAL STYLES */
.search__checkinout input:hover {
  background-color: #ebebeb;
}

.search__checkinout input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* Input field: number of adults && children */
.search__number {
  display: flex;
  align-items: center;
}

.search__number label {
  display: block;
  width: 112px;
}

.search__number:nth-of-type(2) label {
  width: 65px;
}

.search__number input {
  margin: 0;

  width: 34px;
  height: 38px;

  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 0;
}

.search__number input:hover {
  background-color: #ebebeb;
}

.search__number input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.decrement,
.increment {
  display: block;

  width: 40px;
  height: 38px;

  font-size: 25px;
  color: #a9a9a9;
  font-weight: bold;

  background-color: #f2f2f2;
}

.increment:hover,
.decrement:hover {
  color: #000000;
}

.increment:active,
.decrement:active {
  color: #81b3d2;
}

/* Find button */
.search__find-button {
  padding: 15px 30px;

  width: 458px;
  min-height: 58px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.search__find-button:hover {
  background-color: #669ec0;
}

.search__find-button:active {
  background-color: #5496bd;
  color: rgba(256, 256, 256, 0.3);
}

/* Map */
.map {
  width: 1200px;
  height: 473px;

  background-image: url(../img/map.png);
}

/* Footer containers */
.bottom {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;

  min-height: 120px;

  background-color: #fefefe;
}

.bottom__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;

  padding-left: 52px;
  width: 310px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

}

.bottom__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-left: 60px;
  padding-right: 60px;

  width: 100%;
}

.bottom__copy {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 29px;

  min-width: 310px;
}

/* Contacts style */
.bottom__contacts p,
.bottom__contacts a {
  width: 100%;
}

.bottom__contacts p {
  margin-bottom: 6px;
}

/* Social icons */
.bottom__social li {
  margin-right: 3px;
  margin-left: 3px;
}

.bottom__contacts a {
  color: #000000;
}

.bottom__social a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.bottom__social a {
  fill: #ffffff;
  background-color: #81b3d2;
}

.bottom__social a:hover {
  fill: #ffffff;
  background-color: #669ec0;
}

.bottom__social a:active {
  fill: rgba(256, 256, 256, 0.3);
  background-color: #5496bd;
}

/* Websity by */
.bottom__copy svg {
  display: block;
}

.bottom__copy p {
  min-width: 0px;
}

.bottom__copy {
  display: flex;
  align-items: center;
}

.bottom__copy a {
  display: block;
  padding-left: 8px;
}

.bottom__copy a {
  fill: #231f20;
}

.bottom__copy a:hover {
  fill: #81b3d2;
}

.bottom__copy a:active {
  fill: #bdbbbc;
}

/* --------------------- Catalog ---------------------*/

/* Horizontal form containers*/
.center-form {
  padding: 28px 72px;

  max-width: 1200px;
  min-height: 217px;

  background-image: url(../img/background-mountains--blur.jpg);
  background-position: 0 -56px;
}
.horizontal-form {
  display: flex;

  line-height: 21px;
  color: #ffffff;
}

.horizontal-form legend {
  letter-spacing: 0.1em;
  font-weight: bold;
  display: block;
  padding-right: 15px;
}

.horizontal-form fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.horizontal-form__column legend {
  position: relative;
  margin-bottom: 24px;

  width: 254px;
}

.horizontal-form__column div {
  position: relative;
  margin-bottom: 25px;
}

.horizontal-form__column div:last-of-type {
  margin-bottom: 0;
}

.horizontal-form__column-third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;

  font-weight: bold;
}

.horizontal-form__column-third legend {
  margin-bottom: 9px;
  margin-right: 2px;

  width: 319px;
}

.horizontal-form__column-third>div {
  width: 318px;
}

/* Checkboxes */
.horizontal-form__check-label {
  display: block;
  padding-left: 40px;
  padding-right: 15px;

  width: 254px;
}

.horizontal-form__column:nth-last-of-type(2) .horizontal-form__check-label {
  padding-left: 42px;
}

.horizontal-form__check-custom {
  position: absolute;
  top: -1px;
  left: 0px;

  width: 23px;
  height: 23px;
}

/* --checked */
.horizontal-form__check:checked~svg.checked {
  width: 27px;
  height: 23px;

  fill-opacity: 1;
}

.horizontal-form__check:checked+svg {
  fill-opacity: 0;
}

/* --disabled */
.horizontal-form__check:disabled+svg {
  fill: #6a6a6a;
}

/* --checked + disabled */
.horizontal-form__check:checked:disabled~svg.checked {
  width: 27px;
  height: 23px;

  fill-opacity: 1;
  fill: #6a6a6a;
}

.horizontal-form__check:checked:disabled+svg {
  fill-opacity: 0;
}

/* --focused*/
.horizontal-form__check:focus+svg {
  outline: 1px solid #b0ddff;
  outline-offset: 2px;
}

/* Input field: from __ to __ */
.horizontal-form___from-to {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 20px;

  width: 318px;
  height: 36px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.horizontal-form___from-to::before {
  position: absolute;
  left: 157px;
  top: 5px;   /* for IE 11 */
  content: "";

  width: 2px;
  height: 22px;

  background-color: #ffffff;
}

.horizontal-form__input {
  padding-left: 16px;
  padding-right: 13px;

  width: 100%;
  height: 27px;

  line-height: 21px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
}

/* Range */
.range-container {
  display: flex;
  position: relative;

  margin-bottom: 32px;
  margin-left: 11px;

  width: 308px;
}

.range-container__scale {
  width: 100%;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-container__bar {
  width: 82%;
  height: 2px;

  background-color: #ffffff;
}

/* Round buttons */
.range-container__round {
  position: absolute;
  margin-top: -9px;

  width: 20px;
  height: 22px;

  background-size: cover;
}

.range-container__round--custom-l {
  left: -10px;

  background-image: url("../img/filter-button.svg");
}

.range-container__round--custom-r {
  left: 242px;

  background-image: url("../img/filter-button.svg");
}

/* --focus round buttons*/
.range-container button:focus+span {
  outline: 1px solid #b0ddff;
  outline-offset: 2px;
}

/* --hover round buttons*/
.range-container__round:hover {
  width: 22px;
  height: 24px;

  cursor: pointer;
}

.range-container__round--custom-l:hover {
  margin-top: -10px;
  left: -11px;
}

.range-container__round--custom-r:hover {
  margin-top: -10px;
  left: 241px;
}

.horizontal-form__show {
  display: block;
  margin-left: 85px;
  padding: 0 15px;

  width: 137px;
  min-height: 36px;

  border: 2px solid #ffffff;

  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border-radius: 3px;
}

.horizontal-form__show:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Sorting block */
.sorting {
  display: flex;
  align-items: center;

  padding: 20px 72px;

  width: 1200px;
  min-height: 86px;

  color: #000000;

  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
}

.sorting p {
  margin: 0;
}

.sorting p:first-of-type {
  margin-right: 46px;

  max-width: 175px;

  font-size: 21px;
  font-weight: bold;
}

.sorting p:last-of-type {
  margin-right: 40px;
  padding-top: 5px;
  padding-left: 2px;

  max-width: 150px;

  font-size: 12px;
  line-height: 18px;
}

.sorting__type-of {
  display: flex;
}

.sorting__type-of li {
  margin-right: 33px;
}

.sorting__arrows {
  display: flex;

  margin-left: auto;
  margin-right: 1px;
}

.sorting__btn {
  margin-top: 8px;

  max-width: 120px;
  border-bottom: 1px dotted #81b3d2;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  cursor: pointer;
}

.sorting__btn:hover {
  color: #81b3d2;
}

.sorting__btn:active {
  border-bottom: 0;
  color: #000000;
}

.sorting__btn--current,
.sorting__btn--current:hover,
.sorting__btn--current:active {
  color: #81b3d2;
  border-bottom: 0;
}

/* Choose order (up and down arrows) */
.sorting__choose-order {
  display: flex;
  width: 34px;
  line-height: 0px;
}

.sorting__choose-order button {
  display: block;
  font-size: 15px;

  line-height: 1em;
  color: #cacaca;

  background-color: transparent;
  cursor: pointer;
}

.sorting__up {
  margin-left: -2px;
  margin-top: 4px;
}

.sorting__down {
  margin-left: 8px;
  margin-top: 2px;
}

/* --hover */
.sorting__up:hover,
.sorting__down:hover {
  color: #231f20;
}

/* --active */
.sorting__up:active,
.sorting__down:active {
  color: #81b3d2;
}

/* --current */
.sorting__up--current[type="button"],
.sorting__up--current:hover,
.sorting__up--current:active {
  color: #81b3d2;
  cursor: auto;
}

.sorting__down--current[type="button"],
.sorting__down--current:hover,
.sorting__down--current:active {
  color: #81b3d2;
  cursor: auto;
}

/* Output - hotel list items */
.output {
  background-color: #fefefe;
}

.output li {
  display: flex;
  align-items: center;
  padding: 30px 72px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

.output img {
  margin-right: 30px;
}

.output__wrapper-button-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 500px;
  min-height: 90px;
}

.output__rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;

  min-height: 90px;

  text-align: right;
  line-height: 0;
  font-size: 0;
}

/* output__wrapper-button-links - inner styles */
.output__type-price,
.output__button-bundle {
  display: flex;
}

.output__type-price p {
  margin: 0;
  margin-right: 6px;
  padding-top: 7px;
  padding-bottom: 13px;

  width: 110px;

  line-height: 21px;
}

.output__type-price p:last-child {
  width: 142px;
}

.output__button-bundle div {
  display: flex;
  align-items: center;

  margin-right: 6px;
}

.output__wrapper-button-links h2 {
  margin-top: -4px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.output__heading-link {
  color: #000000;
}

.output__heading-link:hover {
  color: #81b3d2;
}

.output__heading-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.output__button-link {
  width: 110px;
  min-height: 27px;

  padding: 3px 15px 2px 15px;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.output__button-link:hover {
  background-color: #669ec0;
}

.output__button-link:active {
  background-color: #5496bd;
  color: rgb(255, 255, 255, 0.3);
}

.output__button-link--brown {
  width: 142px;
  background-color: #766357;
}

.output__button-link--brown:hover {
  background-color: #604e43;
}

.output__button-link--brown:active {
  background-color: #503e33;
}

/* Rating container - inner styles */
.output__rating {
  margin: 0;
  padding: 0 10px;

  min-width: 110px;
  max-width: 200px;

  text-align: center;
  font-size: 14px;
  line-height: 27px;
  white-space: nowrap;
  color: #666666;

  background-color: #f2f2f2;
  overflow: hidden;
}

.output__stars {
  margin-bottom: 46px;
}

.output__stars img {
  margin-right: 6px;
}

.output__stars img:last-child {
  margin-right: 0;
}

.output__count {
  display: inline-block;
  margin-left: 0.3em;

  max-width: 30px;

  vertical-align: top;
  overflow: hidden;
}

/* Modal window */
.modal-hide {
  display: none;
}

.modal-show {
  animation-name: bounce-open;
  animation-duration: 0.2s;
}

.red-outline {
  box-shadow: inset 0 0 1px 1px rgba(255, 0, 0, 1);
}

@keyframes bounce-open {
  0% {
    transform: translateY(-86px);
  }

  100% {
    transform: translateY(0);
  }
}
