/* Normalization + global styles */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
img {
  max-width: 100%;  
}
a {
  text-decoration: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* Fonts */ 

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: bold;
}

/* Visually-hidden*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.topHeader {
  height: 724px;
  width: 1200px;

  background-color: #f2f2f2;
  background-image: url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}
.topHeader h1 {
  width: 450px;

  font-size: 21px;
}
.topHeader p {
  width: 492px;

  color: #333333;
}
.topHeader__mask {
  width: 1200px;
  height: 59px;
  background: url("../img/polygon-mask.svg") no-repeat;
  background-size: 1200px 63px;
}
.topHeader__text {
  height: 216px;
  width: 1200px;

  background-color: #ffffff;

  overflow: hidden; /* Magic to prevent margin collapsing */ 
}

/* Navigation */

.navigation ul {
  width: 1200px;  
  margin: 0;

  background-color: #ffffff;
}
.navigation li {
  list-style: none;
  color: #000000;
  font-weight: bold;
}
.navigation a,
.navigation a:link,
.navigation a:visited {
  color: #000000;
}
.navigation a:hover,
.navigation a:focus {
  color: #81b3d2;
}
.navigation a:active {
  color: #000000;
  opacity: 0.3;
}
.navigation .current {
  color: #766357;
}

/* Advantages - general properties */

.advantages,
.item1-advantages__secondline,
.advantages__item3-5 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages img {
  display: block;
}

/* Item 1 -first line + Item 2 */

.item1-advantages__firstline div,
.advantages__item2 div {
  width: 400px;
  height: 256px;

  color: #ffffff;
  line-height: 21px;
  text-align: center;

  background-color: #81b3d2;

  overflow: hidden; /* Magic to prevent margin collapsing */ 
}
.item1-advantages__firstline h3 {
  width: 130px;
  
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}
.item1-advantages__firstline p {
  width: 300px;
}

/* Item 1 -second line */ 
.item1-advantages__secondline li {
  width: 400px;
  height: 330px;

  list-style: none;

  background-color: #ffffff;
}
.item1-advantages__secondline span {
  display: block;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
.item1-advantages__secondline p {
  width: 285px;

  color: #333333;
  line-height: 21px;
}
.item1-advantages__secondline li:nth-child(1) {
  background-image: url(../img/icon-house.svg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
}
.item1-advantages__secondline li:nth-child(2) {
  background-image: url(../img/icon-burger.svg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
}
.item1-advantages__secondline li:nth-child(3) {
  background-image: url(../img/icon-gift.svg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

/* Item 2 */ 
.advantages__item2 h3 {
  width: 155px;
  
  font-weight: bold;
  font-size: 21px;
}
.advantages__item2 p {
  width: 310px;
  
  text-align: center;
}

/* Item 3-5 */

.advantages__item3-5 {
  width: 400px;
  height: 256px;
  background-color: #eeeeee;

  overflow: hidden; /* Magic to prevent margin collapsing */ 
}
.advantages__item3-5 h3 {
  width: 130px;
  
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}
.advantages__item3-5 span, 
.advantages__item3-5 p {
  width: 260px;
  
  text-align: center;
  line-height: 21px;
  color: #333333;
}
.advantages__item3-5:nth-child(5) p {
  width: 250px;
}

/* Find a hotel section + search button */

.search__container {
  width: 1200px;
  height: 291px;

  text-align: center;
  
  background-color: #ffffff;

  overflow: hidden; /* Magic to prevent margin collapsing */ 
}
.search__container p:first-of-type {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
.search__container p:last-of-type {
  line-height: 24px;

  color: #333333;
}
.search__container button {
  width: 568px;
  height: 86px;
  border: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

  background-color: #766357;
}
.search__container button:hover {
  background-color: #604e43;
}
.search__container button:active {
  background-color: #503e33;
  color: rgba(256, 256, 256, 0.3);
}

/* FORM */
.search {
  width: 1200px;
}
.search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.search__form {
  width: 568px;
  height: 395px;

  font-weight: bold;

  background-color: #ffffff;
  margin: 0 auto;
}

/* check in && check out */

.form-search__checkinout {
  display: flex;
  align-items: center;
  width: 458px;
}
.form-search__checkinout label {
  display: block;
  width: 112px;
}
.form-search__checkinout input[type="text"] {
  width: 306px;
  height: 38px;
  
  padding-left: 12px;
  margin: 0;

  font-weight: bold;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  
  border: 0;
}

/* Calendar button */

.form-search__checkinout button {
  width: 40px;
  height: 38px;
  padding: 0;
  margin: 0;

  border: 0;

  background-color: #f2f2f2;
}

/* Calendar icon */

.form-search__checkinout button {
  fill: #cacaca;
}
.form-search__checkinout button:hover {
  fill: #000000;
}
.form-search__checkinout button:active {
  fill: #81b3d2;
}

/* check in && check out - ADDITIONAL STYLES */

/* remove increment arrows */
/* chrome */
.search__form input[type="number"]::-webkit-outer-spin-button,
.search__form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */ 
.search__form input[type="number"] {
  -moz-appearance: textfield;
}
.search__form input[type="number"]:hover,
.search__form input[type="number"]:focus {
  -moz-appearance: number-input;
}
/* other */
.search__form input[type="number"]::-webkit-inner-spin-button,
.search__form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-search__checkinout input:hover {
  background-color: #ebebeb;
}
.form-search__checkinout input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* make placeholder black again */
.form-search__checkinout input[type="text"]::-webkit-input-placeholder { 
  color: #000000;
}
.form-search__checkinout input[type="text"]::-moz-placeholder { 
  color: #000000;
}
.form-search__number input[type="number"]::-webkit-input-placeholder { 
  color: #000000;
}
.form-search__number input[type="number"]::-moz-placeholder { 
  color: #000000;
}

/* Input field: adults && children */

.form-search__number {
  display: flex;
  align-items: center;
}
.form-search__number label {
  display: block;
  width: 112px;
}
.form-search__number input {
  width: 34px;
  height: 38px;

  margin: 0;

  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  
  border: 0;
}
.form-search__number input:hover {
  background-color: #ebebeb;
}
.form-search__number input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.increment {
  display: block;
  width: 40px;
  height: 38px;
  padding: 0;
  margin: 0;

  font-size: 25px;
  color: #a9a9a9;
  font-weight: bold;

  border: 0;
}
.increment:hover {
  color: #000000;
}
.increment:active {
  color: #81b3d2;
}

/* Find button */

.form-search__findButton {
  width: 458px;
  height: 58px;
  border: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

  background-color: #81b3d2;
}
.form-search__findButton:hover {
  background-color: #669ec0;
}
.form-search__findButton:active {
  background-color: #5496bd;
  color: rgba(256, 256, 256, 0.3);
}

/* Footer */ 

.bottom__contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/* Footer__Social icons */ 
.bottom__social ul {
  list-style: none;
}
.bottom__contacts a {
  color: #000000;
}
.bottom__social a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}
.bottom__social a {
  fill: #ffffff;
  background-color: #81b3d2;
}
.bottom__social a:hover {
  fill: #ffffff;
  background-color: #669ec0;
}
.bottom__social a:active {
  fill: rgba(256, 256, 256, 0.3);  
  background-color: #5496bd;
}

/* Websity by */ 

.bottom__copy a {
  display: block;
  width: 115px;
  height: 41px;
}
.bottom__copy a path {
  fill: #231f20;
}
.bottom__copy a:hover path {
  fill: #81b3d2;
}
.bottom__copy a:active path {
  fill: #bdbbbc;
}